
{% extends '::base.html.twig' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('style/dropzone.css') }}"/>
{% endblock %}
{% block body %}

{% block sidemenu %}
{{ render(controller('multimediaBundle:MyGalleries:myGalleries')) }}
{% endblock sidemenu %}
{% block content %}
<center>
<h1>Upload your photos</h1>
<form enctype="multipart/form-data" class="dropzone" action="#" method="post" name="dropzone_form" id="dropzone_form">
        {{ form_widget(form) }}
    {{ form_end(form) }}

<center>
{% endblock content %}
{% endblock %}


{% block javascripts %}
<script src="{{ asset('dropzone/dropzone.js') }}"></script>
<script>$('#multimedialink').addClass('selected');</script>

{% endblock %}
